main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: url("../images/wall.png");
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #ffd700;
}

.panel{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    width: 150px;
    background-color: #5cbe9e;
    border: 1px solid #000000;
}

.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 20px;
}
